.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F0F0;
}

.header {
    width: 60%;
    height: 25%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000000;
}

.description {
    font-size: 1rem;
    font-weight: 700;
    color: #555555;
}

.form {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.field {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.label {
    color: rgb(66, 66, 66);
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 1%;
    font-weight: 500;
}

.buttonTopBox {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.buttonBottomBox {
    width: 40%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 100%;
    margin-top: 4%;
    border-radius: 5px;
    background: #b87100;
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    padding: 3.5%;
    border: 2px solid rgb(98, 98, 98);
}

.button:hover {
    background: #925a00;
}

.alreadyAccountTitle {
    /* width: 50%; */
    color: #585858;
    font-weight: 300;
}

.loginBtn {
    /* width: 50%; */
    color: #b47b00;
    font-weight: 700;
}