.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.topContainer,
.bottomContainer {
    width: 100%;
    padding: 2%;
}

.title {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: 700;
    color: #815800;
    text-decoration: underline;
}

.form {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
    padding: 1% 3%;
}

.field {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.label {
    color: rgb(66, 66, 66);
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 1%;
    font-weight: 500;
}

.button {
    width: fit-content;
    background: #815800;
    color: white;
    text-transform: uppercase;
    border: 2px solid #7d5600;
}