@import "tailwindcss";

* {
  scrollbar-width: none;
  scroll-behavior: smooth;
  transition: all ease .5s;
  overflow: auto;
}

body {
  width: 100vw;
  height: 100vh;
  font-weight: 600;
  user-select: none;
  color: #C5A059;
  overflow: hidden;
  background-color: #ffffff;
}

.MuiButtonBase-root {
  text-transform: none;
}

.MuiDivider-root::before,
.MuiDivider-root::after {
  border-top: 1px solid rgba(255, 255, 255, 0.135);
}

.MuiDivider-wrapper {
  width: 30%;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

/* Target the outlined border globally */
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

/* Optional: Prevent border from reappearing on hover */
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

/* Optional: Prevent border from reappearing when focused */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: none !important;
}