@import "tailwindcss";

* {
  /* scrollbar-width: none; */
  scroll-behavior: smooth;
  transition: all ease .5s;
}

body {
  width: 100vw;
  height: 100vh;
  font-weight: 600;
  /* user-select: none; */
  color: #000000;
  /* overflow: hidden; */
  background-color: #ffffff;
}

.MuiButtonBase-root {
  text-transform: none;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  word-wrap: break-word;
}