.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 5%;
}

.headerBox {
    width: 100%;
    height: 7%;
}

.businessInfo {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.leftbusinessInfoBox {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0% 10%;
}

.businessEstablished {
    width: fit-content;
    color: #6e4700;
    padding: .5% 1%;
    border: 1px solid #C5A059;
    border-radius: 8px;
}

.businessInfoDetails {
    display: flex;
    flex-direction: column;
}

.businessInfoTitle,
.businessInfoTitleSpan {
    width: 80%;
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.businessInfoTitleSpan {
    color: #9c6500;
}

.businessInfoDescription {
    color: rgb(73, 73, 73);
}

.businessInfoButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.businessInfoGetStartedButton,
.businessInfoExploreFeatureButton {
    border: 1px solid #6c4600;
    border-radius: 5px;
    padding: 1% 2%;
}

.businessInfoGetStartedButton {
    color: white;
    background-color: #9c6500;
}

.businessInfoExploreFeatureButton {
    color: black;
}

.rightbusinessInfoBox {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.buisnessInfoImageBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buisnessInfoImage {
    width: 80%;
    height: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.buisnessInfoImageTagBox {
    width: 40%;
    display: flex;
    background-color: white;
    border: 1px solid rgb(234, 234, 234);
    box-shadow: 0 0 12px 0 black;
    border-radius: 8px;
    padding: 2%;
    gap: 5%;
    position: absolute;
    top: 85%;
    left: -10%;
}

.iconButton,
.capabilityBoxIconButton {
    color: #000000;
    background-color: #C5A059;
}

.buisnessInfoImageTagInfo {
    display: flex;
    flex-direction: column;
}

.buisnessInfoImageTagInfop1 {
    color: rgb(0, 0, 0);
}

.buisnessInfoImageTagInfop2 {
    color: rgb(117, 117, 117);
}

.coreCapabilites {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff9f9;
}

.coreCapabilitesTitle {
    width: 80%;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: rgb(0, 0, 0);
}

.capabilityContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.capabilityBoxIconButton {
    font-size: 3rem;
    fill: #6e4700;
    background-color: #ededed;
    border-radius: 8px;
    padding: 10px;
}

.capabilityBox {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
    gap: 10px;
    aspect-ratio: 1/.3;
}

.capabilityTitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.capabilityDescription {
    color: rgb(84, 84, 84);
}