.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.headerBox {
    width: 100%;
    height: 7%;
}

.businessInfo {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;
}

.leftbusinessInfoBox {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0% 10%;
}

.businessEstablished {
    width: fit-content;
    color: #6e4700;
    padding: .5% 1%;
    border: 1px solid #C5A059;
    border-radius: 8px;
}

.businessInfoDetails {
    display: flex;
    flex-direction: column;
}

.businessInfoTitle,
.businessInfoTitleSpan {
    width: 80%;
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.businessInfoTitleSpan {
    color: #9c6500;
}

.businessInfoDescription {
    color: rgb(73, 73, 73);
}

.businessInfoButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.businessInfoGetStartedButton,
.businessInfoExploreFeatureButton {
    border: 1px solid #6c4600;
    border-radius: 5px;
    padding: 1% 2%;
}

.businessInfoGetStartedButton {
    color: white;
    background-color: #9c6500;
}

.businessInfoExploreFeatureButton {
    color: black;
}

.rightbusinessInfoBox {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.buisnessInfoImageBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buisnessInfoImage {
    width: 80%;
    height: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.buisnessInfoImageTagBox {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(234, 234, 234);
    box-shadow: 0 0 5px 0 rgb(197, 197, 197);
    border-radius: 8px;
    padding: 2%;
    gap: 5%;
    position: absolute;
    top: 85%;
    left: -3%;
}

.verifyIconButton,
.capabilityBoxIconButton {
    color: #000000;
    background-color: #C5A059;
}

.buisnessInfoIconInfo {
    max-width: 20%;
}

.verifyIconButton {
    width: 80%;
    height: 30%;
    background-color: #f8e8cc;
    color: #a96e01;
    border-radius: 8px;
    padding: 10%;
}

.buisnessInfoImageTagInfo {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.buisnessInfoImageTagInfop1 {
    color: rgb(0, 0, 0);
}

.buisnessInfoImageTagInfop2 {
    color: rgb(117, 117, 117);
}

.coreCapabilites {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
    padding-bottom: 5%;
}

.coreCapabilitesTitleBox {
    width: 100%;
    text-align: center;
}

.coreCapabilitesTitle {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.coreCapabilitesdivider {
    width: 5.5%;
    margin-left: 47%;
    border-bottom: 3px solid #C5A059;
}

.capabilityContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.capabilityBoxIconButton {
    font-size: 3rem;
    fill: #C5A059;
    background-color: #ededed;
    border-radius: 8px;
    padding: 10px;
}

.capabilityBox {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
    gap: 10px;
    aspect-ratio: 1/.3;
}

.capabilityTitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.capabilityDescription {
    color: rgb(84, 84, 84);
}

.chooseExperience {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    padding-bottom: 10%;
    gap: 10%;
}

.chooseExperienceTitleBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
}

.chooseExperienceTitle {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.chooseExperienceDescription {
    width: 30%;
    font-size: .98rem;
    color: #696969;
}

.chooseExperienceContainer {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.chooseExperienceBox {
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 3% 2%;
    aspect-ratio: 1/.3;
    border-radius: 16px;
    gap: 100%;
}

.chooseExperienceBoxIconButton {
    font-size: 3rem;
}

.chooseExperienceBoxTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.chooseExperienceBoxDescription {
    font-size: 1rem;
    color: #696969;
}