.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.headerBox {
    width: 100%;
    height: 7%;
}

.bottombody {
    width: 100%;
    height: 93%;
}

.bottombody::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/subscription-plan/screen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    transform: scale(1);
    z-index: -1;
}

.header,
.footer {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000000;
}

.description {
    width: 30%;
    text-align: center;
}

.planBox {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description,
.footerTitle {
    font-weight: 500;
    font-size: 1.1rem;
    color: #000000;
    text-shadow: 0 0 1 #ffffff;
}