.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.leftContainer {
    width: 40%;
    height: 100%;
}

.rightContainer {
    width: 60%;
    height: 100%;
}