.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.leftContainer {
    width: 15%;
    height: 100%;
}

.rightContainer {
    width: 85%;
    height: 100%;
}