.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: #f9f5f0;
}

.header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #a48752;
}

.description {
    font-size: .8rem;
    font-weight: 700;
    color: #555555;
}

.tabBox,
.footer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.tabBox {
    justify-content: flex-start;
}

.footer {
    justify-content: flex-end;
    padding-bottom: 10%;
}

.button:hover,
.logoutbtn:hover {
    color: #AF8B47;
    background: #ece6de;
}

.button,
.logoutbtn {
    font-weight: 700;
    gap: 10px;
    border-radius: 8px;
    color: #585858;
    padding: 5%;
}

.logoutbtn:hover {
    color: rgb(255, 87, 87);
}

/* .logoutbtn:hover .iconButton{
    color: rgb(255, 87, 87);
} */

.iconButton {
    color: #585858;
}