.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.headerBox {
    width: 100%;
    height: 7%;
}

.eventInfoBox {
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: row;
    padding: 2%;
    border-bottom: 1px solid rgb(243, 243, 243);
    gap: 5%;
}

.eventInfo {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.eventTitle,
.eventDescription {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

.eventDescription {
    font-size: .9rem;
    color: rgb(73, 73, 73);
}

.uploadImageButton,
.tagImage {
    width: fit-content;
    border-radius: 4px;
    padding: 1% 3%;
    color: rgb(0, 0, 0);
    border: 2px solid #232323;
}

.eventTagBox {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30%;
}

.eventTagTopBox {
    width: 100%;
    height: fit-content;
}

.eventTagBottomBox {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}

.tagImage {
    width: fit-content;
    height: fit-content;
    padding: 1% 3%;
    font-weight: 700;
}

.imagesBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding: 3% 5%;
}

.eventImage {
    width: fit-content;
    height: fit-content;
    min-width: 30%;
    min-height: 30%;
    max-width: 70%;
    max-height: 70%;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 8px;
    box-shadow: 0 0 10 10 rgb(244, 244, 244);
}