.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.title {
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}

.headerButtonBox {
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.headerButton {
    border: 1px solid #6c4600;
    padding: 2% 4%;
    background-color: #9c6500;
    color: rgb(242, 242, 242);
}

.scrollWrapper {
    width: 100%;
    height: 98%;
    overflow: auto;
}

.eventWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding: 2% 5%;
    align-items: stretch;
    overflow: auto;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border: 1px solid #eeeeee;
    gap: 30px;
}

.ImageBox {
    width: 20%;
    height: 100%;
}

.eventImage {
    width: 100%;
    height: 100%;
}

.eventInfoBox {
    width: 80%;
    padding: 2%;
}

.eventInfoHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.eventInfo {
    display: flex;
    flex-direction: column;
}

.eventTitle {
    font-size: 2rem;
    font-weight: 800;
    color: black;
}

.eventLocation,
.description,
.footerButton {
    font-size: 1rem;
    color: rgb(117, 117, 117);
}

.description {
    width: 100%;
}

.eventFooter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 7.7%;
}